body{
    background-color: #d9dad7;
}

h3 {
    font-family: 'Balsamiq Sans', cursive;
    margin-left: 35px;
    margin-bottom: 4px;
}

.card-container{
    background-color: #4b89ac;
    border: 2px solid #333644 ;
    width:370px;
    margin: auto;
    padding: 4px;
    border-radius: 20px;
    box-shadow: 4px 4px 6px #5c5757;
    display: flexbox;
}

.falcon-img{
    display: block;
    margin: auto auto 10px auto;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #333644;
}

.texts-container{
    background-color: #fbf9fa;
    width: 320px;
    margin: 10px auto;
    border: 2px solid #333644;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Baloo 2', cursive;
}

p{
    margin-top:7px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
    list-style-position: outside;
}